<!DOCTYPE html>
<html>
    <head>
        <title>Add tracker</title> 
        <script>
            function displayQuestion(answer) {
             if (answer == "mcq") { // hide the div that is not selected

                 document.getElementById('question').style.display = "block";

             } 
            }
        </script> 
        <style>
            #question{
                display:none;
            }
        </style>
    </head> 
    <body> 
        <form  action="/tracker/{{i.id}}/{{i.uname}}/update" method="POST" id="form1"  >
            <div>
            <label >tracker name:</label>
            <input type="text" name="tname" value={{i.name}} required />
            </div>
            <br>
            <div>
            <label>desctiption:</label>
            <input type="text" name="desc" value={{i.description}} required />
            </div>
            <br>
            <div>
            <label>trackertype:</label>
            <select name="vtype" id="type"  onclick="displayQuestion(this.value)" >
                <option  value="Num" >Numerical</option>
                <option  value="mcq" >multiple choice</option>
                <option  value="td">Time Duration</option>
                <option  value="bool"> Boolean</option> 
            </select> 
            
            </div>   
            <div id="question"> 
                
                <label>setting:</label>
                <input type="text" name="sett" />
                </div>
    
            <div>
            <input type="submit" value = "logit">
            </div>
            </form>  
    </body>
</html>